FOS/11/Lernbereich_1/Sprachmodelle/Chatbot/simple/.ipynb_checkpoints/huggingface_chatbot_simple-checkpoint.ipynb
FOS/11/Lernbereich_1/Sprachmodelle/Chatbot/advanvced/.ipynb_checkpoints/OpenAI_Chatbot_advanced_3.0-checkpoint.ipynb
FOS/11/Lernbereich_1/Sprachmodelle/Chatbot/simple/.ipynb_checkpoints/OpenAI_Chatbot_simple-checkpoint.ipynb
FOS/11/Lernbereich_1/Sprachmodelle/Prompting/.ipynb_checkpoints/OpenAI_Prompting2-checkpoint.ipynb
